footer{
    background-color: #141722;
    color: $white;
    padding-top: 60px;
    padding-bottom: 20px;

    .footer-main{
        display: flex;
        justify-content: space-between;

        /* LEFT */
        .left{
            width: 30%;
        }
        /* RIGHT */
        .right{
            width: auto;
            display: flex;
        }

        /* ABOUT US */
        .about-us{

            /* BRAND LOGO */
            .brand-logo{
                width: 180px;
                margin-bottom: 20px;

                svg{
                    fill: $white;
                }
            }

            /* TEXT */
            .text{
                color: $light;
                font-weight: 100;
                font-size: 15px;

                .contact-info{
                    margin-top: 25px;

                    p{
                        margin-bottom: 5px;

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        /* FOOTER HEADING */
        .footer-heading{
            margin-bottom: 20px;

            h5{
                font-weight: 400;
            }
        }

        /* FOOTER COLUMN */
        .footer-column{
            margin-right: 70px;

            &:last-child{
                margin-right: 0;
            }
        }

        /* FOOTER LINKS */
        .footer-links{

            li{
                margin-bottom: 7px;

                a{
                    color: $light;
                    font-weight: 100;
                    transition: 0.4s all;

                    &:hover{
                        color: $white;
                    }
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        /* SOCIAL ICONS */
        .social-icons{
            display: flex;

            li{
                margin-right: 10px;

                a{
                    height: 40px;
                    width: 40px;
                    border-radius: 100px;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    border: 1px solid $green-light;
                    background-color: $green-light;
                    color: $white;
                    transition: 0.4s all;

                    &:hover{
                        background-color: $white;
                        border-color: $white;
                        color: $green-light;
                    }
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }

    }

    /* COPYRIGHT */
    .copyright{
        color: $light;
        font-weight: 100;
        padding-top: 20px;
        margin-top: 50px;
        border-top: 1px solid $light;

        p{
            margin-bottom: 0;
        }
    }
    
}