/*--### Colors ###--*/
$white : #ffffff;
$black : #000000;
// $green-light : #4DD9E1;
$green-light : #28abb9;
$blue-light : #5183bf;
$blue-dark : #130f23;
$dark : #333333;
$grey : #707070;
$light-white : #F1F1F1;
$light : #a0aec0;
$light-grey : #f2f7fb;


/*--### FONT FAMILIES ###--*/
$font : 'Poppins', sans-serif;